
.container {
  background-color: white;
  min-height: 75vh;
  background-size: cover;
  margin: 20px;
  border-radius: 10px;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  overflow: hidden;
 

 
}


/*  contenu à l'intérieur de chaque carte */
.content {
  text-align: center;
  /*transition: 0.4s;*/
  transition: transform 0.4s ease;
  color: white;
  
}



.titre2 {
  position: absolute;
  top: -50px;
  right: 0;
  padding: 45px;
  font-size: 5em;
  color: rgba(255, 255, 255, 0.08);
  pointer-events: none;
  
}
.titre3 {
  font-size: 1.8em;
  z-index: 1;
  transition: transform 0.4s ease; /* Ajout transition pour le zoom */
}

.titre3:hover {
  transform: scale(1.8); /* Zoom sur le texte lors du survol */
}



/* Media Query pour rendre les cartes réactives + background */
@media screen and (max-width: 600px) {
  .card {
    width: 80%;
  }

}