@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");


.container {
  background-image: url(../public/fond.jpg);
  min-height: 75vh;
  background-size: cover;
  margin: 25px;
  border-radius: 10px;
  
}

.text1 {
  text-align: center;
  padding: 20px;
  color: black;
  font-family: Pacifico;
  font-size: 1.5rem;
}





